

.wrapper{
    background-color: pink;
    z-index: 2;
    position: relative;
}

.container{
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.image{
    width: 30px;
    height: 30px;
}

.image img{
    width: 100%;
}