

.wrapper{
    /*background-color: pink;*/
    /*z-index: 2;*/
    /*position: relative;*/
    height: 100%;
    color: white;
}

.container{
    /*align-items: center;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*height: 100%;*/
}



.center{
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
    gap: 30px;
    align-items: center;
}

.image{
    width: 40px;
    height: 40px;
}

.image img{
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.image img:hover{
    transition: 0.5s;
    transform: rotate(360deg);
}

.loginBlock{
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
    font-weight: 900;
}